target
wasm_sources
.env
*.db
*.db*
kani-shared/bindings
library
kani-web/dist
todo.txt
changes
.vscode
.kani_admin_password
log/
static/js/vendor/
static/js/dist/
static/types/
static/css/main.css
tools/
.idea/